{% extends 'base.html.twig' %}

{% block title %}Foooorm Awesome!{% endblock %}
{% block bodyClass %}{{ parent() }}body{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate',
        'class': 'max-w-sm mx-auto prose'}}) }}
    <div class="mb-5 my-5">
        {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-field' }}) }}
        {{ form_errors(form.title, {'attr': {'class': 'form-label'}}) }}
    </div>
    <div class="mb-5">
        {{ form_label(form.content, 'Content', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-field'}}) }}
    </div>
    <div class="mb-5">
        {{ form_label(form.author, 'Author', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.author, {'attr': {'class': 'form-field'}}) }}
    </div>
    <div class="mb-5">
        {{ form_widget(form.submit, {'label': 'Créer'}) }}
    </div>
    {{ form_end(form) }}
    {#            <div class="mb-5"> #}
    {#                <button type="submit" class="btn">Créer</button> #}
    {#            </div> #}
{% endblock body %}