{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}
{% block bodyClass %}{{ parent() }}body{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate',
        'class': 'max-w-sm mx-auto prose'}}) }}
    {#    <div class="mb-5 my-5"> #}
    {#        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }} #}
    {#        {{ form_widget(form.name, {'attr': {'class': 'form-field' }}) }} #}
    {#        {{ form_errors(form.name, {'attr': {'class': 'form-label'}}) }} #}
    {#    </div> #}
    {#    <div class="mb-5"> #}
    {#        {{ form_label(form.dateOfBirth, 'Date of birth', {'label_attr': {'class': 'form-label'}}) }} #}
    {#        {{ form_widget(form.dateOfBirth, {'attr': {'class': 'form-field'}}) }} #}
    {#    </div> #}
    {#    <div class="mb-5"> #}
    {#        {{ form_label(form.dateOfDeath, 'Date of death', {'label_attr': {'class': 'form-label'}}) }} #}
    {#        {{ form_widget(form.dateOfDeath, {'attr': {'class': 'form-field'}}) }} #}
    {#    </div> #}
    {#    <div class="mb-5"> #}
    {#        {{ form_label(form.nationality, 'Nationality', {'label_attr': {'class': 'form-label'}}) }} #}
    {#        {{ form_widget(form.nationality, {'attr': {'class': 'form-field'}}) }} #}
    {#    </div> #}
    {#    <div class="mb-5"> #}
    {#        {{ form_label(form.books, 'Books', {'label_attr': {'class': 'form-label'}}) }} #}
    {#        {{ form_widget(form.books, {'attr': {'class': 'form-field'}}) }} #}
    {#    </div> #}
    {#    <div class="mb-5"> #}
    {#        {{ form_widget(form.submit, {'label': 'Créer'}) }} #}
    {{ form_widget(form) }}
    <button type="submit" class="btn">Créer</button>
    {#    </div> #}
    {{ form_end(form) }}
{% endblock body %}